@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0B0E11; 
  color: #EAECEF;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B0E11;
}
::-webkit-scrollbar-thumb {
  background: #2B3139;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8B5CF6;
}