.header {
    background-color: transparent; 
    position: relative;
    top: 20px; 
    left: 0;
    right: 0;
    height: 60px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    box-shadow: none;
    border-bottom: 2px solid #6a2c91; 
    padding-bottom: 23px; 
}

.users-container {
    padding: 3rem 1rem;
    padding-top: 80px; 
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
}

.logo-container .logo {
    text-decoration: none;
}

.logo-img {
    max-width: 80px;
    height: auto;
}

.user-icon-container {
    display: flex;
    align-items: center;
}

.user-icon {
    color: #fff;
    font-size: 1.5rem;
    transition: transform 0.3s, color 0.3s;
    cursor: pointer;
}

.user-icon:hover {
    color: #9a4ef2;
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .header {
        padding: 1rem;
    }

    .logo-img {
        max-width: 100px;
    }
}